body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

/* start styling the header */

.header-sec{
    display: flex;
    border-bottom: solid 3px black;
    background-color: cyan;
}
.header-sec::before{
    scroll-behavior: smooth;
    position: fixed;
}

#logo-div{
    width: 30%;
}
#menu-items-div{
    width: 70%;
}

#logo{
    width: 300px;
}

#menu-items-div ul{
    display: flex;
    float: right;
}

#menu-items-div ul li{
    list-style-type:none;
}

#menu-items-div ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

/* End styling the header sec */

/* start styling the hero section */
.hero-sec{
    background-image: url('../Images/girls.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
}

.sec-3{
    display: flex;
}

.sec-3 div{
    width: 50%;
}

.my-h2{
    text-align: center;
    font-size: 2em;
}
.my-para1{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.sec-4{
    display: flex;
    margin-top: 50px;
}

.about-header {
    background-image: url("../Images/girls.png");
    background-size: cover;
}

.overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgba(0, 0, 0, 0.7);
}


.header-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-family: candara;
}

/* .little-history {
    clear: both;
} */

.his-col {
    width: 47%;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.his-header {
    font-size: 22px;
    color: darkorange;
    font-family: candara;
    text-transform: uppercase;
}

.his-description {
    font-family: candara;
    color: grey;
}

.his-img {
    width: 100%;
}

.cols-wrapper {
    display: flex;
    justify-content: space-between;
}